.users-list-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.users-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        margin-bottom: 30px;
    }
}